.login-container {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-card {
    width: 400px;
    margin-top: 40px;
    align-self: center;
  }
}

.login-form {
  display: flex;
  flex-direction: column;;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}