<div class="login-container">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field>
                    <input matInput type="email" formControlName="email" placeholder="Email" tabindex="1">
                </mat-form-field>

                <mat-form-field>
                    <input type="password" formControlName="password" matInput placeholder="Password" tabindex="2">
                </mat-form-field>

                <div class="action-buttons">
                    <button mat-raised-button type="submit" color="primary">LOGIN</button>
                    <a mat-raised-button color="accent" (click)="goToRegister()">REGISTER</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>