/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: Roboto, sans-serif;
}

.action-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.spacer-to-right {
    flex: 1 1 auto;
}

.app-link {
    color: #3f51b5;
    font-weight: bold;
    cursor: pointer;
}

.app-link:hover {
    text-decoration: underline;
}